<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>¡Conoce nuestros productos!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">¡Conoce nuestros productos!</ion-title>
    </ion-toolbar>
  </ion-header>

<app-lista-productos [variableEntradaPadre]="listaProductos" ></app-lista-productos>
<app-lista-productos [variableEntradaPadre]="listaVaciaProd" ></app-lista-productos>
</ion-content>
