<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>¡Conoce nuestros productos!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">¡Conoce nuestros productos!</ion-title>
    </ion-toolbar>
  </ion-header>

<!--<app-lista-productos [variableEntradaPadre]="listaProductos" ></app-lista-productos>-->
<app-lista-productos [variableEntradaPadre]="listaVaciaProd" ></app-lista-productos>
</ion-content>
