<!--<div *ngIf="activo; else ContenidoElse">
  Mostrar contenido
</div>

<ng-template #ContenidoElse>

  No Mostrar contenido **************
</ng-template>
<ion-button (click)="cambiarValor()">ACTIVAR</ion-button>

<div *ngFor="let fruta of listaFrutas; let i = index">

<h1>FRUTA</h1>
<label>{{fruta}}</label>

</div>
-->

<!--<div *ngFor="let objeto of listaObjetos">

<h1>PERSONA</h1>
<p>Hola, {{objeto.nombre}}</p>
<p>tu edad es: {{objeto.edad}}</p>

</div>
-->
<div class="prod-card" *ngFor="let producto of variableEntradaPadre; let i = index">
  <div class="prod-image">
    <img [src]="producto.image" alt="Imagen de producto" />
  </div>
  <div class="prod-info">
    <h3 class="prod-name">{{ producto.title }}</h3>
    <p class="prod-material"><strong>Materiales:</strong> {{ producto.description }}</p>
    <p class="prod-brand">
      <strong>Categoria:</strong> {{ producto.category }}
    </p>
    <p class="prod-price">
      <strong>Precio:</strong> COL$ {{ producto.price }}
    </p>
  </div>
</div>  
