<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Creación de Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title size="large">Creación de Producto</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<app-formulario-producto (enviarACrear)="recibirProducto($event)"></app-formulario-producto>-->
  <app-formulario-producto (enviarACrear)="crearProducto($event)"></app-formulario-producto>
  <app-lista-productos [variableEntradaPadre]="listaVaciaProd"></app-lista-productos>
</ion-content>
